body {
  font-family: 'Raleway', sans-serif;
  background-color: #f8f9fa; /* Fondo claro */
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centrar verticalmente */
  background-image: url('fondo.png');
}

.formulario {
  width: 100%;
  max-width: 400px; /* Ancho fijo */
  background-color: #343a40;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px 0;
  margin: auto;
}

.formulario h2 {
  text-align: center;
  font-weight: 700;
  color: orange; /* Amarillo estilo eMercado */
  margin-bottom: 20px;
}

.formulario label {
  color: #fff;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.formulario .campo {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  margin-bottom: 15px;
}

.ingresar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: orange;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.ingresar:hover {
  background-color: #e79600; /* Amarillo más oscuro */
}

.formulario p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.formulario a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img{
    width: 25%;
    height: 10%;
}

footer{
    height: 40px;
    background-color: #343a40;
}

footer p{
    padding: 9px;
}